.content {
  display: flex;
}

.tables {
  width: 50vw;
}

table {
  width: 100%;
  border-collapse: separate;
}

td {
  width: 100px;
  padding: 0 !important;
}

input {
  width: 100%;
  border: 1px solid lightgray;
  padding: .5rem;
}

input:focus-within {
  outline: none;
  background-color: rgba(211, 211, 211, 0.671);
}

img {
  width: 40px;
}

